@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    text-align: center;
    padding-top: 50px;
}

.profile img {
    max-width: 150px;
    width: 100%;
    border-radius: 15px;
}

.profile-info {
    display: flex;
    justify-content: center;
}

.info {
    margin: 13px;
    text-align: center;
    width: 100px;
    max-width: 100%;
    padding: 8px 0;
    border-radius: 12px;
    background-color: #e5e5e5;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

.username-github-link, .devchallengelink {
    color: #333;
}
  
.username-link:hover {
    color: black;
}

.devchallenges-link:hover {
    color: #f7542e;
}